{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<main>
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <section class="wrapperForm">
    
        <article class="welcome">
            <h1>Bienvenue chez Pawfluence</h1>
            <p>Nos compagnons vivent tous frais payer sans lever une patte !
            <br>Et bien maintenant, ils vont travailler pour payer leur part de loyer ET aider ces semblables !</p>
        </article>

        <div class="form">

            <h2>Par ici ! Faites votre inscription en quelques clicks :</h2>
            
            <div class="registerForm">
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.pseudo) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                <div class="checkboxRow">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_label(registrationForm.agreeTerms) }}
                    {{ form_errors(registrationForm.agreeTerms) }}
                </div>

                <button type="submit" class="submit">Inscrire</button>

                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
</main>
{% endblock %}
