<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}PawFluence – Le réseau social qui soutient les animaux à chaque scroll{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="style.css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        <header>
            <div class="logo">
                <a href="">LOGO</a>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li><a href="{{ path('app_post') }}">Explorer</a></li>
                    <li><a href="">Qui sommes-nous ?</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
            <div class="searchBar"></div>
            <div class="headerBtn">
                {% if app.user %}
                <a href="">Mon profil</a>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
                <a href="{{ path('app_register') }}">Inscription</a>
                {% endif %}
            </div>
        </header>

        {% block body %}{% endblock %}
        
        <footer>
            <div class="logo">
                <a href="">LOGO</a>
            </div>
            <nav>
                <ul>
                    <li><a href="">Accueil</a></li>
                    <li><a href="">Explorer</a></li>
                    <li><a href="">Qui sommes-nous ?</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
            <div class="legal">
                <ul>
                    <li><a href="">@2025 Suzanne Pons</a></li>
                    <li><a href="">confidentialités et cookies</a></li>
                    <li><a href="">Mentions Légales</a></li>
                </ul>
            </div>
            <div class="footerBtn">
                {% if app.user %}
                <a href="">Mon profil</a>
                {% else %}
                <a href="">Connexion</a>
                <a href="{{ path('app_register') }}">Inscription</a>
                {% endif %}
            </div>
        </footer>
    </body>
</html>
