<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}PawFluence – Le réseau social qui soutient les animaux à chaque scroll{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        {# {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %} #}

        {# {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %} #}
    </head>

    <body>
        <header >
            <div class="logoHeader">
                <a href="{{ path('app_home') }}">Pawfluence</a>
            </div>
            <nav class="navHeader">
                <ul class="listHeader">
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li><a href="">Pour vous</a></li>
                    <li><a href="{{ path('app_post') }}">Explorer</a></li>
                </ul>
            </nav>
            <div class="btnRegistration">
                {% if app.user %}
                <button class="btn">
                <a href="">Mon profil</a>
                </button>
                <button class="btn">
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                </button>
            </div>
                {% else %}
            <div class="btnRegistration">
                <button class="btn">
                    <a href="{{ path('app_login') }}">Connexion</a>
                </button>
                <button class="btn">
                    <a href="{{ path('app_register') }}">Inscription</a>
                </button>
                {% endif %}
            </div>
        </header>

        {% block body %}{% endblock %}
        
        <footer>
            <div  class="logoFooter">
                <a href="{{ path('app_home') }}">Pawfluence</a>
            </div>
            <nav class="navFooter">
                <ul class="listFooter">
                    <li><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li><a href="">Pour vous</a></li>
                    <li><a href="{{ path('app_post') }}">Explorer</a></li>
                </ul>
            </nav>
            <div class="legalMentions">
                <ul>
                    <li><span>@2025 Suzanne Pons</span></li>
                    <li><a href="">Confidentialités et cookies</a></li>
                    <li><a href="">Gestion conseils d'utilisation</a></li>
                </ul>
            </div>
            <div class="btnRegistration">
                {% if app.user %}
                <button class="btn">
                <a href="">Mon profil</a>
                </button>
                <button class="btn">
                <a href="{{ path('app_logout') }}">Déconnexion</a>
                </button>
                {% else %}
                <button class="btn">
                <a href="{{ path('app_login') }}">Connexion</a>
                </button>
                <button class="btn">
                <a href="{{ path('app_register') }}">Inscription</a>
                </button>
                {% endif %}
            </div>
        </footer>
    </body>
</html>
