{% extends 'base.html.twig' %}

{% block title %}Modification du commentaire{% endblock %}

{% block body %}

<main>
    <section class="wrapperForm">
        <article class="welcomeAdd">
            <h1>Quel est votre réponse ?</h1>
            <p>Ajoutez un commentaire !</p>
        </article>

        <div class="form">
            {{ form_start(formAddComment) }}

                <div class="my-custom-class-for-errors">
                    {{ form_errors(formAddComment) }}
                </div>

                <div class="formRow">

                    {{ form_row(formAddComment.commentTitle) }}

                    <div class="message">
                        {{ form_row(formAddComment.message) }}
                    </div>
                </div>
            
                {{ form_row(formAddComment.valider) }}

            {{ form_end(formAddComment) }}
        </div>
    </section>
</main>
{% endblock %}