{% extends 'base.html.twig' %}

{% block title %}Modification aux posts{% endblock %}

{% block body %}

        <h1>Ajouter un post</h1>

    {{ form_start(formAddPost) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(formAddPost) }}
    </div>

    <div class="row">

            {{ form_row(formAddPost.postTitle) }}

        <div class="col-sm">
            {{ form_row(formAddPost.textuelContent) }}
            {{ form_row(formAddPost.visuelContent) }}
        </div>
        </div>
            {{ form_row(formAddPost.associatedTo) }}

            {{ form_row(formAddPost.valider) }}

    {{ form_end(formAddPost) }}

{% endblock %}