{% extends 'base.html.twig' %}

{% block title %}Détail d'un post{% endblock %}

{% block body %}

<div class="post-wrapper">

    {# <img src="" alt=""> #}

    <article>
        <h1>Détail du Post "{{ post }}"</h1>

        <p>{{ post.textuelContent }}</p>
        <p>{{ post.userOfPost }}, {{ post.publicationDateFr }}</p>
    </article>

    {% if app.user %}
    <article class="edit">
        <h2>Vous voulez apporter des détails en plus ou en retirer ? Commençons par cliquer sur le bouton ci-dessous !</h2>
        <a href=" {{ path('edit_post', {'id':post.id}) }} ">Editer</a>
    </article>
    {% endif %}
</div>

<div class="comment-wrapper">
    {% for comment in comments %}
        {{comment}} <br>
        {{comment.message}} <br>
        {{comment.commentUser}}, 
        {{comment.publicationDateFr}} {% if app.user is same as(comment.commentUser) %} <a href="">Editer</a> <a href="">X</a>{% endif %} <br>
    {% endfor %}
    <br>
    {% if app.user %}
    <a href="{{ path('add_comment', {'id':post.id}) }}">Ajouter</a>
    {% endif %}
</div>

{% endblock %}